@model PHBC.DAO.Models.DCThongTinBaoModel
<div class="form-group col-md-6">
    <label class="col-md-4 control-label">
        @Html.DisplayFor(model => model.Dislay)
    </label>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.Value)
    </div>
</div>