
@model PHBC.DAO.Models.ThongTinBaoSearchModel

@using (Html.BeginForm("Search", "ThongTinBao", new { Area = "Bao" }, FormMethod.Post, htmlAttributes: new { @class = "form-horizontal  navbar-form navbar-right", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Mã báo, Tên báo" } })
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onclick="fncAdvancedSearch()"><span class="caret"></span></button>                            
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

